:root {
    --primary-blue: #164863;
    --secondary-blue: #427D9D;
    --light-blue: #9BBEC8;
    --pale-blue: #DDF2FD;
  }

  /* * {
    border: solid red 1px;
  } */

  #logo {
    color: var(--secondary-blue);
  }
body {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: var(--primary-blue) !important;
    padding: 20px 20px 20px 20px;
    
}
.nav-link {
    color: var(--pale-blue) !important;
    font-family: sans-serif;
    padding-left: 40px !important;
    font-weight: 600;
}

.navbar-brand {
    font-size: 40px;    
    font-family: sans-serif;
    font-weight: 900;
    color: var(--pale-blue);  
}
 
/* nav ends */

/* home begin */

#hero-img4 {
    max-width: 100%;
}

#hero-h1 {
    font-weight: 900;
    color: var(--primary-blue);
}

#hero-h3 {
    font-weight: 700;
}
#hero-h1, #hero-h3, #hero-p {
    font-family: sans-serif;
}

#HM {
    color: white;
    background-color: var(--primary-blue);
    padding: 12px;

}
#CV {
    color: white;
    background-color: var(--primary-blue);
    padding: 12px;
}

#LM {
    background-color:white;
    color:var(--primary-blue);
    padding: 12px;
}

/* home ends */

/* works begin */

.portfolio-h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--primary-blue);
}

.portfolio-h5 {
    text-align: center;
    font-family: sans-serif;
}
#p-img1 {
    max-width: 75%;
    width: 400px;
}
#p-img2 {
    max-width: 75%;
    width: 400px;
}
#p-h2 {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
#p-p {
    font-family: sans-serif;
}
#p2-link {
    background-color: var(--primary-blue);
    color: white;
}
#p1-link {
   background-color: var(--primary-blue);
   color: white;
}

/* works done */

/* cert begin */

#cert-h5 {
    margin-top: 50px;
    text-align: center;
    font-family: sans-serif;
    
}
#cert-h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--primary-blue);
}

#carousel-prev-button, #carousel-next-button {
    background-color: var(--primary-blue);
    height: 75px;
    width: 100px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

#carousel-prev-button, #carousel-next-button:hover {
    background-color: var(--primary-blue);
}

/* cert unfinished */

/* services begin */
    .service-h5 {
        text-align: center;
        font-family: sans-serif;
        margin-top: 50px;
        
    }

    .service-h1 {
        text-align: center;
        font-family: sans-serif;
        font-weight: 700;
        color: var(--primary-blue);
    }

    .card {
        background-color: var(--primary-blue);
        color: var(--pale-blue);
    }

    #code-icon, #ballpen-icon, #shield-icon, #network-icon, #ux-ux-icon,
    #content-icon {
        font-size: 40px;
        color: white;
    }

    #card-h5, #card-p {
        margin: 20px;
    }

/* services finish */



#carouselTextDescription {
    font-family: sans-serif;
}

/* about starts */

#about-h5 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 50px;
    
}

#about-h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--primary-blue)
}

#p-about {
    margin-top: 100px;  

}

#img-about {
    max-width: 100% ;
    width: 500px;
}

.ftr {  
    background-color: var(--primary-blue);
    color: var(--pale-blue);
    font-family: sans-serif;
}

.email-link, .address-link, .cell-link {
    text-decoration: none;
    color: var(--pale-blue);
}



#ftr-fb, #ftr-li, #ftr-ig, #ftr-tt, #ftr-th, #ftr-gh {
    text-decoration: none;
}

#ftr-li, #ftr-ig, #ftr-tt, #ftr-th, #ftr-gh {
    padding-left: 10px;
}

.social-button {
    display: inline-block;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    text-decoration: none;
   color: var(--pale-blue);
}



/* ol goods */

@media only screen and (max-width: 414px) {

    .nav-link {
        text-align: center;
    }


    .navbar-toggler {
        background-color: var(--light-blue)
    }

    #hero-h3, #hero-h1, #hero-p {
        text-align: center;
    }
    


    /* ports */

    /* certs */

    .carousel-control-prev, .carousel-control-next {
       display: none;
    }
    



    /* service */

    .text-center {
        text-align: center !important;
    }

    .text-right {
        text-align: center !important;
    }
    #CV {
        text-align: center !important;
    }

    #p-about {
        margin-top: 0;
        text-align: center;
    } 
    .ftr {
        text-align: center;

    }
    
  }
